<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="countdown" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="countdown" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="countdown" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="countdown" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="countdown.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
    <div id="main" ng-controller="CountdownCtrl as countdown">

        <p style="color:{{countdown.color}}" ng-show="countdown.isCounting">{{countdown.number}}</p>

        <form name="enterNumber">
            <input type="text" ng-hide="countdown.isCounting" ng-model="countdown.number" limit="20" required />
            <button ng-show="countdown.isCounting" ng-click="countdown.stopCounting()">Stop</button>
            <button ng-hide="!enterNumber.$valid || countdown.isCounting" ng-click="countdown.countDown()">Start</button>
        </form>

    </div>

    <!-- RESOURCES -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="countdown.js"></script>
</body>
</html>
